
:root{
  --primary-white: #fff;
  --primary-purple: #ff4d5a;
  --primary-dark: rgba(255,255,255,0);
}
nav a.nav-link {
  font-size: .9rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

.navbar-brand{
  color:var(--primary-white) !important;
  font-family: 'Aldrich';
  padding: 0 !important;

}

.navbar-nav > li > a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color:var(--primary-white) !important;
  font-family:'Aldrich';
  border-top: 0.1875rem solid var(--primary-dark);
}

nav ul li{
  text-transform: uppercase;
}

.navbar-toggler-icon{
  color:var(--primary-white) !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus, .navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-purple);
}